.weather-app {
  max-width: 600px;
  border: 2px solid #70757a;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #70757a;
}

h1 {
  font-size: 22px;
  color: #202124;
  line-height: 26px;
  font-family: Google Sans, arial, sans-serif;
  text-align: right;
  display: block;
}
i {
  font-size: 50px;
}

.date-time {
  display: block;
  text-align: right;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.weather-description {
  display: block;
  text-align: right;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.today-icon {
  display: block;
  margin: 0 auto;
  position: relative;
  left: -15px;
  top: -15px;
}

.today-temp {
  font-size: 12px;
  color: #70757a;
  line-height: 16px;
  padding-left: 0;
  position: relative;
  left: 30px;
}

.units {
  position: relative;
  top: 12px;
}

.temperature {
  color: #202124;
  display: inline-block;
  line-height: 60px;
  vertical-align: top;
  font-size: 48px;
  position: relative;
}
.celsius-link {
  color: #202124;
  display: inline-block;
  line-height: 24px;
  padding-left: 6px;
  vertical-align: top;
  font-size: 16px;
  margin-top: 6px;
}

.today-temp .active {
  color: #202124;
  cursor: default;
}

.today-temp .active:hover {
  text-decoration: none;
}

.fahrenheit-link {
  color: #202124;
  display: inline-block;
  line-height: 24px;
  padding-left: 6px;
  vertical-align: top;
  font-size: 16px;
  margin-top: 6px;
}

.extra-info {
  font-size: 12px;
  color: #70757a;
  line-height: 16px;
  padding-left: 0;
  position: relative;
  top: 12px;
  left: -14px;
}

.col-4 {
  color: #70757a;
  display: inline-block;
  font-size: 50px;
  line-height: 16px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

.weather-forecast {
  margin-top: -5px;
  text-align: center;
  color: #000;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

small {
  text-align: center;
}
