.background-image {
  width: 900px;
  background-position: center;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 5px 5px 5px 5px #ccc;
}

body {
  font-family: courier;
}

.weather-app {
  background: none;
  position: relative;
  top: -670px;
  left: -10px;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

.mb-3 {
  position: relative;
}

a {
  text-decoration: none;
  color: #70757a;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #202124;
  line-height: 26px;
  display: block;
}
i {
  font-size: 50px;
}

.date-time {
  display: block;
  color: black;
  opacity: 80%;
  font-size: 18px;
  line-height: 20px;
}

.weather-description {
  display: block;
  color: black;
  opacity: 80%;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
}
.temperature {
  opacity: 80%;
}
.wind {
  display: block;
  color: black;
  opacity: 80%;
  font-size: 18px;
  line-height: 20px;
}

.today-icon {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -15px;
  left: -160px;
}

.units {
  position: relative;

  font-size: 20px;
}

.celsius-link {
  color: #202124;
  display: inline-block;
  line-height: 24px;
  padding-left: 6px;
  vertical-align: top;
  font-size: 16px;
  margin-top: 6px;
}

.today-temp .active {
  color: #202124;
  opacity: 80%;
  cursor: default;
}

.today-temp .active:hover {
  text-decoration: none;
}

.fahrenheit-link {
  color: #202124;
  display: inline-block;
  line-height: 24px;
  padding-left: 6px;
  vertical-align: top;
  font-size: 16px;
  margin-top: 6px;
}

.col-7 {
  color: black;
  display: inline-block;
  position: relative;
  left: -28px;
  top: 1px;
  font-size: 20px;
  line-height: 16px;
}

.col-4 {
  color: black;
  display: inline-block;
  position: relative;
  text-align: right;

  font-size: 50px;
  line-height: 16px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

.weather-forecast {
  margin-top: -5px;
  text-align: center;
  color: #000;
  opacity: 89%;
  position: relative;
}
.col-3 {
  position: relative;
  top: -120px;
  left: 340px;
  border-radius: 35px;
  width: 10%;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  opacity: 100%;
}

.weather-forecast-day {
  font-size: 15px;
}

.weather-forecast-temperatures {
  font-size: 12px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

small {
  text-align: right;
  position: relative;
  top: 320px;
  left: -120px;
}
